@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center modified
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css or your styles file */
.bg-gray-800 {
  background-color: #1a202c; 
}

.bg-white {
  background-color: #ffffff; 
}

.bg-blue-600 {
  background-color:#009A86; 
}

.bg-blue-500 {
  background-color:#009A86; 
}

.bg-blue-700 {
  background-color: ; 
}

.bg-blue-400 {
  background-color: #009A86; 
}

.text-white {
  color: #ffffff; 
}

.text-black {
  color: #000000; 
}

/* Example CSS for the sidebar, which toggles based on the state */

.sidebar {
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Hidden by default */
}

.sidebar.visible {
  transform: translateX(0); /* Shown when visible */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blank{
  background-color: blanchedalmond;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none }
